<!DOCTYPE html>
<html>
<head>
    <title>Detalle de evento</title>
</head>
<body>

<h1>{{ event.event_type }}</h1>

<p><b>Fecha:</b> {{ event.event_date.strftime('%d/%m/%Y %H:%M') }}</p>

<p><b>Título:</b> {{ event.title }}</p>

<p><b>Descripción:</b> {{ event.description }}</p>

<p><b>Anamnesis:</b> {{ event.anamnesis }}</p>

<p><b>Examen físico:</b> {{ event.physical_exam }}</p>

<p><b>Diagnóstico:</b> {{ event.diagnosis }}</p>

<p><b>Tratamiento:</b> {{ event.treatment }}</p>
{% if event.event_type == 'ECG' %}
<hr>
<h3>💗 Electrocardiograma</h3>

<p><b>FC:</b> {{ event.ecg_hr }}</p>
<p><b>Ritmo:</b> {{ event.ecg_rhythm }}</p>

<p><b>Onda P:</b> {{ event.ecg_p }}</p>
<p><b>Intervalo PR:</b> {{ event.ecg_pr }}</p>

<p><b>QRS:</b> {{ event.ecg_qrs }}</p>
<p><b>Segmento ST:</b> {{ event.ecg_st }}</p>

<p><b>Onda T:</b> {{ event.ecg_t }}</p>
<p><b>Intervalo QT:</b> {{ event.ecg_qt }}</p>

<p><b>Eje eléctrico:</b> {{ event.ecg_axis }}</p>

<p><b>Interpretación:</b></p>
<p>{{ event.ecg_interpretation }}</p>
{% endif %}
{% if event.event_type == 'Vacuna' %}
<hr>
<h3>💉 Vacunación</h3>

<p><b>Vacuna:</b> {{ event.vaccine_name }}</p>
<p><b>Lote:</b> {{ event.vaccine_lot }}</p>
<p><b>Próxima vacuna:</b> {{ event.vaccine_expiration }}</p>
<p><b>Próxima vacuna:</b> {{ event.next_vaccine_date }}</p>
{% endif %}

<br>
<a href="/patients/{{ patient.id }}">⬅ Volver a la historia clínica</a>

</body>
</html>
