{% extends 'base.html' %}{% block content %}
<h1>Historia clínica</h1>

<form class="searchbar" method="get">
    <input name="q" value="{{ q }}" placeholder="Buscar paciente, propietario o teléfono">
    <button>Buscar</button>
</form>

<div class="panel">
    <h2>Resultados</h2>

    {% for p in results %}
        <a class="result" href="/patients/{{ p.id }}">
            <b>{{ p.name }}</b> — {{ p.species }} {{ p.breed }}

            {% if p.birth_date %}
                — {{ ((today - p.birth_date).days // 365) }} años
            {% endif %}

            <br>

           <span>
               Propietario: {{ p.owner.name if p.owner else "Sin propietario" }}
               {% if p.owner and (p.owner.whatsapp or p.owner.phone) %}
                   — WP: {{ p.owner.whatsapp or p.owner.phone }}
               {% endif %}
           </span>
        </a>
    {% endfor %}
</div>
{% endblock %}
